{% extends 'index.html' %}

{% block scripts %}

<script>
    $(document).ready(function(){
        
    
  const dataPie = {
    labels: [{% for club in clubs %} '{{ club.name }}', {% endfor %}],
    datasets: [
      {
        label: "My First Dataset",
        data: [{% for club in clubs %}{{ club.money }}, {% endfor %}],
        backgroundColor: [
          "rgb(133, 105, 241)",
          "rgb(164, 101, 241)",
          "rgb(101, 143, 241)",
        ],
        hoverOffset: 4,
      },
    ],
  };

  const configPie = {
    type: "pie",
    data: dataPie,
    options: {},
  };

  var chartBar = new Chart(document.getElementById("chartPie"), configPie);


    });
</script>

{% endblock scripts %}

{% block content %}    

<div class="shadow-lg rounded-lg overflow-hidden">
    <canvas class="p-10" id="chartPie"></canvas>
  </div>

{% endblock content %}